body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255,255,255,0.8);
}

.Intro 
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("file:///home/xavier/Escritorio/MUSIC.fm/xperez2001.github.io/media/IntroBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 60px;
    color: rgba(255,255,255,0.8);
    height: 250px;
}

.Intro header h1
{
    font-size: 35px;
}

.material-icons {
    transition: 0.5s;
}

.material-icons:hover {
    color: white;
}

#Shop {
    float: right;
}

.Intro header {
    margin-top: 60px;
    text-align: center;
}

.Cuerpo {
    padding: 60px;
    color:rgba(0, 0, 0, 0.8);

}

.Categorias {
    text-align: center;
}

.Categorias h4 {
    display: inline-block;
    margin: 0 5%;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.Categorias h4:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.AlbumesPortada {
    text-align: center;
    margin: 60px;
    display: block;
}

.AlbumesPortada img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    transition: 0.5s;
}

.AlbumesPortada img:hover {
    scale: 0.9;
}
